@import "bourbon"

@media only screen and (max-width : 991px)

	.header
		&__inner
			max-width: 320px
			padding-left: 15px
			padding-right: 15px
		&__section
			&--center
				width: 160px

		&__icon
			&--mail
				display: none

	.stack
		padding-bottom: 50px
		&__section--dislikes,
		&__section--likes,
		&__hand
			display: none
		&.loaded
			.cards
				display: block
			.title
				padding: 0
				&__caption,
				&__right,
				&__btn
					display: none
				&__inner
					padding: 0
					box-shadow: none
					background-color: transparent
				&__counter
					margin-bottom: 0


	.title
		max-width: 320px
		padding: 0 15px
		&__inner
			background-color: #fff
			box-shadow: 0 0 3px rgba(0,0,0,.1)
			border-radius: 5px
			padding: 20px 10px
		&__caption,
		&__right,
		&__wrapper,
		&__left
			display: block
		&__left
			width: auto
		&__right
			padding-left: 0
			text-align: center
		&__btn
			display: table
			margin: 20px auto 0
		&__caption
			line-height: 1.1
		&__text
			font-size: 16px
		&__counter
			margin-bottom: 20px

	.cards
		display: none
		&__list
			margin: 0
			height: 320px
		&__dislike,
		&__like
			width: 35px
			height: 100px
			background-color: transparent
			background-image: none
			background-repeat: no-repeat
			background-position: 50% 50%
			background-size: cover
			border-radius: 0
			margin-top: -50px
			&::before
				font-size: 20px
				top: 0
		&__dislike
			left: 0
			background-image: url(../img/dislike-bg-mobile.png)
		&__like
			right: 0
			background-image: url(../img/like-bg-mobile.png)

	.card
		height: 320px
		box-shadow: 0 0 20px rgba(0,0,0,.1)
		&.removed
			opacity: 0 !important
		&__inner
			padding: 20px
		&__img
			margin: 0
			&::before,
			&::after
				display: none
		&__text
			font-size: 17px
		&__title
			display: none

	.counter
		font-size: 15px

	.congratulation
		max-width: 320px
		padding: 0 15px
		&__ava
			display: none
		&__wrapper
			padding: 20px
			background-color: #fff
			box-shadow: 0 0 3px rgba(0,0,0,.1)
			border-radius: 5px
		&__top
			margin-bottom: 16px
		&__bottom
			background-color: transparent
			padding: 0
			border-radius: 0
		&__signup
			border: none
			padding: 0
		&__title
			font-size: 24px
			margin: 0 0 16px
		&__lead
			font-size: 16px
			b
				font-size: 16px
		&__text
			font-size: 16px
		&__btn
			margin-top: 20px

	.timer
		&__title
			font-size: 16px
			margin: 0 0 16px
		&__num
			font-size: 32px
			width: 55px
			height: 55px
			line-height: 55px
		&__sign
			font-size: 14px
		&__colon
			line-height: 55px
			margin: 0 10px


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
	.stack
		&.like
			.cards__dislike
				opacity: 1
		&.dislike
			.cards__like
				opacity: 1