doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='icon', href='img/favicon.png', type='image/png')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Comfortaa:300,400")
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="http://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			.header
				.header__inner
					.header__section.header__section--left
						.header__icon.header__icon--menu
					.header__section.header__section--center
						img.header__logo(src="img/logo.png", alt="")
					.header__section.header__section--right
						.header__icon.header__icon--mail
						.header__icon.header__icon--profile
			.stack
				.container
					.stack__loader
					.stack__title
						.title
							h1.title__caption Секс без обязательств
							.title__wrapper
								.title__left
									.title__counter
										.counter
											b.counter__amount#counter 358.636
											|  одиноких женщин
								.title__right
									p.title__text Мы выберем для вас идеального партнера по сексу. Проведите пальцем или нажмите, чтобы ответить о своих предпочтениях.
					.stack__wrapper
						.stack__section.stack__section--dislikes
							.stack__dislikes
						.stack__section
							.stack__cards
								.cards
									button.cards__dislike
									ul.cards__list
										li.cards__item.card
											.card__inner
												.card__img
													picture
														source(srcset="img/img1-mobile.jpg", media="(max-width: 991px)")
														img(src="img/img1.jpg", alt="")
										li.cards__item.card
											.card__inner
												.card__img
													picture
														source(srcset="img/img2-mobile.jpg", media="(max-width: 991px)")
														img(src="img/img2.jpg", alt="")
										li.cards__item.card
											.card__inner
												.card__img
													picture
														source(srcset="img/img3-mobile.jpg", media="(max-width: 991px)")
														img(src="img/img3.jpg", alt="")
										li.cards__item.card
											.card__inner
												.card__img
													picture
														source(srcset="img/img4-mobile.jpg", media="(max-width: 991px)")
														img(src="img/img4.jpg", alt="")
										li.cards__item.card
											.card__inner
												.card__img
													picture
														source(srcset="img/img5-mobile.jpg", media="(max-width: 991px)")
														img(src="img/img5.jpg", alt="")
												p.card__text
													span.card__title Вопрос 1.
													span.card__question Вам нравится большая грудь?
										li.cards__item.card
											.card__inner
												.card__img
													picture
														source(srcset="img/img6-mobile.jpg", media="(max-width: 991px)")
														img(src="img/img6.jpg", alt="")
												p.card__text
													span.card__title Вопрос 2.
													span.card__question Вам больше по душе молодые девушки?
										li.cards__item.card
											.card__inner
												.card__img
													picture
														source(srcset="img/img7-mobile.jpg", media="(max-width: 991px)")
														img(src="img/img7.jpg", alt="")
												p.card__text
													span.card__title Вопрос 3.
													span.card__question Вы согласны на секс втроём?
										li.cards__item.card
											.card__inner
												.card__img
													picture
														source(srcset="img/img8-mobile.jpg", media="(max-width: 991px)")
														img(src="img/img8.jpg", alt="")
												p.card__text
													span.card__title Вопрос 4.
													span.card__question Вы согласны использовать презерватив?
									button.cards__like
							button.stack__hand
						.stack__section.stack__section--likes
							.stack__likes
					.stack__congrat
						.congrat
							.congrat__top
								img.congrat__ava.congrat__ava--1(src="img/ava1.jpg", alt="")
								img.congrat__ava.congrat__ava--2(src="img/ava2.jpg", alt="")
								img.congrat__ava.congrat__ava--3(src="img/ava3.jpg", alt="")
								img.congrat__ava.congrat__ava--4(src="img/ava4.jpg", alt="")
								img.congrat__ava.congrat__ava--5(src="img/ava5.jpg", alt="")
								img.congrat__ava.congrat__ava--6(src="img/ava6.jpg", alt="")
								img.congrat__ava.congrat__ava--7(src="img/ava7.jpg", alt="")
								img.congrat__ava.congrat__ava--8(src="img/ava8.jpg", alt="")
								img.congrat__ava.congrat__ava--9(src="img/ava9.jpg", alt="")
								img.congrat__ava.congrat__ava--10(src="img/ava10.jpg", alt="")
								img.congrat__ava.congrat__ava--11(src="img/ava11.jpg", alt="")
								img.congrat__ava.congrat__ava--12(src="img/ava12.jpg", alt="")
								img.congrat__ava.congrat__ava--13(src="img/ava13.jpg", alt="")
								h2.congrat__title Поздравляем! 
								p.congrat__lead Для вас на нашем сайте есть #[b 232] потенциальнх партнера!
							.congrat__bottom
								.congrat__inner
									p.congrat__text Подтвердите бесплатную регистрацию
									.congrat__timer
										.timer
											p.timer__title У Вас осталось:
											.timer__wrapper
												.timer__section
													span.timer__num.timer__num--min 01
													span.timer__sign минут
												.timer__section
													span.timer__colon :
												.timer__section
													span.timer__num.timer__num--sec 20
													span.timer__sign секунд
									a.congrat__btn Регистрация
		script(src="js/jquery.countdown.min.js")
		script(src="js/hammer.min.js")
		script(src="js/countUp.min.js")
		script(src="js/common.js")